{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Emisa - Cadastro</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    

    <main class="login-container">


        <div class="login-box cadastro-box">

            <div class="logo-area">


                <h1>Emisa</h1>

                <p>CONECTANDO ANIMAIS A NOVOS LARES</p>

            </div>

            <h2 class="titulo-cadastro">
                Criar minha conta
            </h2>

            {% if messages %}
                {% for message in messages %}
                    <div class="mensagem">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="POST">

                {% csrf_token %}

                <div class="campo">

                    <input
                        type="text"
                        name="nome"
                        placeholder="Nome completo"
                        required
                    >
                </div>

                <div class="campo">

                    <input
                        type="email"
                        name="email"
                        placeholder="E-mail"
                        required
                    >
                </div>

                <div class="campo">

                    <input
                        type="tel"
                        name="telefone"
                        placeholder="Telefone"
                        required
                    >
                </div>

                <div class="campo">

                    <input
                        type="password"
                        name="senha"
                        placeholder="Senha"
                        required
                    >
                </div>

                <div class="campo">

                    <input
                        type="password"
                        name="confirmar_senha"
                        placeholder="Confirmar senha"
                        required
                    >
                </div>

                <button type="submit" class="btn-entrar">
                     Criar conta
                </button>

            </form>

            <p class="cadastro-texto">
                Já tem uma conta?
                <a href="{% url 'login' %}">Entrar</a>
            </p>

        </div>

    </main>

</body>

</html>