{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Emisa - Login</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <main class="login-container">

        <div class="decoracao decoracao-1">♡</div>
        <div class="decoracao decoracao-2">🐾</div>
        <div class="decoracao decoracao-3">♡</div>

        <div class="login-box">

            <div class="logo-area">

                <div class="logo-pets">
                    🐶 🐱
                </div>

                <h1>Emisa</h1>

                <p>ADOÇÃO QUE TRANSFORMA</p>

            </div>


            {% if messages %}
                {% for message in messages %}
                    <div class="mensagem">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}


            <form method="POST">

                {% csrf_token %}

                <div class="campo">

                    <span>✉</span>

                    <input
                        type="email"
                        name="email"
                        placeholder="E-mail"
                        required
                    >

                </div>


                <div class="campo">

                    <span>🔒</span>

                    <input
                        type="password"
                        name="senha"
                        placeholder="Senha"
                        required
                    >

                    <span>◉</span>

                </div>


                <button type="submit" class="btn-entrar">
                    🐾 &nbsp; Entrar
                </button>

            </form>


            <a href="#" class="esqueci">
                Esqueci minha senha
            </a>


            <p class="cadastro-texto">
                Não tem uma conta?
                <a href="{% url 'cadastro' %}">Cadastre-se aqui</a>
            </p>

        </div>


        <div class="animais-login">
            🐶 🐱
        </div>

    </main>

</body>

</html>